@font-face {
    font-family: 'Spartan';
    src: url(../polices/Spartan/static/Spartan-Bold.ttf)
}


/* ************* GENERAL ************** */

body
{
    font-family: 'Spartan', sans-serif;

    padding-top: 20px;
}

.container-calculator
{
    width: 330px;
    height: 610px;
}






/* ************* CALCULATOR ************** */




/* -----------> THEME 1 */

/* --> HEADER  */

body
{
    background-color: hsl(222, 26%, 31%);

    display: flex;
    justify-content: center;
    align-items: center;
}

.container-calculator>.calculator>.header
{
    display: flex;
    justify-content: space-between;

    margin-bottom: 30px;
}

.container-calculator>.calculator>.header>.title
{
    display: flex;
    align-items: flex-end;
}

.container-calculator>.calculator>.header>.title>h1
{
    font-size: 30px;

    color: white;

    padding-bottom: 10px;
}

.container-calculator>.calculator>.header>.theme
{
    display: flex;

    color: white;
}

.container-calculator>.calculator>.header>.theme>.title-theme
{
    display: flex;
    align-items: flex-end;

    height: 40px;
}

.container-calculator>.calculator>.header>.theme>.title-theme>h3
{
    text-transform: uppercase;

    font-size: 13px;

    margin-right: 20px;
}

.container-calculator>.calculator>.header>.theme>.btnTheme
{
    width: 70px;
    height: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.container-calculator>.calculator>.header>.theme>.btnTheme>ul
{
    display: flex;
    justify-content: space-between;

    width: 50px;

    font-size: 13px;

    margin-left: 1px;
}

.container-calculator>.calculator>.header>.theme>.btnTheme>.sliderTheme
{
    width: 70px;
    height: 25px;

    background-color: hsl(223, 31%, 20%);

    border-radius: 50px;

    position: relative;
}

.container-calculator>.calculator>.header>.theme>.btnTheme>.sliderTheme>.circleSlider
{
    width: 17px;
    height: 17px;

    border-radius: 50px;

    background-color: hsl(6, 63%, 50%);

    position: absolute;
    top: 4px;
    left: 5px;
}




/* --> SCREEN CALCULATOR  */

.container-calculator>.calculator>.screen-calculator
{
    background-color: hsl(224, 36%, 15%);

    height: 90px;

    border-radius: 10px;

    display: flex;
    justify-content: flex-end;
    align-items: center;

    padding-right: 25px;

    margin-bottom: 25px;
}

.container-calculator>.calculator>.screen-calculator>.screenContainer
{
    width: 100%;
}

.container-calculator>.calculator>.screen-calculator>.screenContainer>.screenDisplay
{
    height: 35px;

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;

    margin-left: 20px;
}

.container-calculator>.calculator>.screen-calculator>.screenContainer>.screenDisplay>#displayCalcul
{
    color: white;

    font-size: 30px;

    margin-bottom: 1px;
}




/* ---> KEYBOARD  */

.container-calculator>.calculator>.keyboard-calculator
{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 420px;

    background-color: hsl(223, 31%, 20%);

    color: hsl(221, 14%, 31%);

    border-radius: 10px;
}

.container-calculator>.calculator>.keyboard-calculator>.container-keyboard
{
    width: 280px;
    height: 370px;
}

.container-calculator>.calculator>.keyboard-calculator>.container-keyboard>.keyboard
{
    height: 295px;

    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container-calculator>.calculator>.keyboard-calculator>.container-keyboard>.keyboard>.keyboardKey
{
    height: 60px;
    width: 60px;

    background-color: hsl(45, 7%, 89%);

    border-radius: 5px;

    font-size: 32px;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0px 4px 0px hsl(28, 16%, 65%);
}

.container-calculator>.calculator>.keyboard-calculator>.container-keyboard>.keyboard>.keyboardKey>p
{
    margin-top: 8px;
}

.container-calculator>.calculator>.keyboard-calculator>.container-keyboard>.keyboard>.keyDel
{
    color: white;

    font-size: 16px;

    background-color: hsl(225, 21%, 49%);

    box-shadow: 0px 4px 0px hsl(224, 28%, 35%);
}

.container-calculator>.calculator>.keyboard-calculator>.container-keyboard>.container-keyboard-reset-egal
{
    display: flex;
    justify-content: space-between;

    height: 65px;
}

.container-calculator>.calculator>.keyboard-calculator>.container-keyboard>.container-keyboard-reset-egal>div
{
    height: 60px;
    width: 133px;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
}

.container-calculator>.calculator>.keyboard-calculator>.container-keyboard>.container-keyboard-reset-egal>#reset
{
    background-color: hsl(225, 21%, 49%);

    box-shadow: 0px 4px 0px hsl(224, 28%, 35%);

    border-radius: 5px;
}

.container-calculator>.calculator>.keyboard-calculator>.container-keyboard>.container-keyboard-reset-egal>#egal
{
    background-color: hsl(6, 63%, 50%);

    box-shadow: 0px 4px 0px hsl(6, 70%, 34%);

    border-radius: 5px;
}